.card_container{
    padding: 25px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil_daniel{
    background-color:$color-card1;
    box-shadow: $box-shadow-light;

}

.perfil_jona{
    background-color: $color-card2;
    box-shadow: $box-shadow-light;

}

.perfil_jeane{
    background-color: $color-card3;
    color:hsl(217, 19%, 35%);
    box-shadow:$box-shadow;
}

.perfil_patrick{
    background-color: $color-card4;
    box-shadow: $box-shadow-light;

}

.perfil_kira{
    background-color: $color-card3;
    color: hsl(217, 19%, 35%);
    height: 580px;
    box-shadow:$box-shadow;
    .container_info{
        height: 90%;
    }
}
