$color-card1:hsl(263, 55%, 52%);
$color-card2:hsl(217, 19%, 35%);
$color-card3:hsl(0, 0%, 100%);
$color-card4:hsl(219, 29%, 14%);

$color-body:hsl(210, 46%, 95%);

$box-shadow: 60px 80px 80px -100px rgb(104, 92, 104);
$box-shadow-light: 65px 86px 88px -90px rgb(120, 113, 120);
